main {
  width: 400px;
  padding: 40px;
  border: 1px solid #d7d7d7;

  font-family: 'Roboto', sans-serif;

  h1 {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 500;
  }

  hr {
    margin: 20px 0 20px 0;
  }

  h2 {
    color: rgba(0, 0, 0, 0.9);
  }

}
